bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/IdentityApi/Dal/ApplicationDbContextFactory.cs
/GroupsApi/Infrastructure/ApplicationDbContextFactory.cs

/Dal/ApplicationDbContextFactory.cs